#hero{
    margin-top: 95px;
    padding-left: 16px;
    position:relative;
}
    
.form1{
    float:right;
    position:static
}
img{
    max-width: 1500px;
    max-height: 459px;
}
.input-fiel:after{
    content:" *";
    color: red;
}