
<br>
<div class="table100 ver6 m-b-110 " >
    <div class='card-body'>            
        <div class='table-responsive'>
            
    <table  class="table" data-vertable="ver6"id="excel-table"  >
        
        <thead >
            <tr class="row100 head">
                <th class="column100 column1" data-column="column1">Name</th>
                <th class="column100 column2" data-column="column2">Address</th>
                <th class="column100 column3" data-column="column3">EMAIL-ID</th>
                <th class="column100 column4" data-column="column4">Gender</th>
                <th class="column100 column5" data-column="column5">qualification</th>
                <th class="column100 column6" data-column="column6">passout</th>
                <th class="column100 column7" data-column="column7">SKILLS</th>
                <th class="column100 column8" data-column="column8">district</th>
                <th class="column100 column9" data-column="column9">Course name</th>
                <th class="column100 column10" data-column="column10"></th>
                <th class="column100 column11" data-column="column11"></th>
            </tr>
        </thead>
        <tbody>
            <tr class="row100" *ngFor='let student of studentdata'>
                <td class="column100 column1" data-column="column1"> {{student.name}}</td>
                <td class="column100 column2" data-column="column2"> {{student.address}}</td>
                <td class="column100 column3" data-column="column3"> {{student.email}}</td>
                <td class="column100 column4" data-column="column4"> {{student.gender}}</td>
                <td class="column100 column5" data-column="column5"> {{student.qualification}}</td>
                <td class="column100 column6" data-column="column6">{{student.passout}} </td>
                <td class="column100 column7" data-column="column7"> {{student.skill}}</td>
                <td class="column100 column8" data-column="column8"> {{student.district}}</td>
                <td class="column100 column9" data-column="column9"> {{student.course}}</td>
                <td class="column100 column10 " data-column="column10">
                    <i class="fa fa-file-pdf-o" style="font-size:36px;color:crimson"></i>
                    <a class="btn btn-outline-success"  (click)="acceptuser(student)">
                      Accept
                        
                      </a>
                </td>
                <td class="column100 column11 " data-column="column11">
                    <i class="fa fa-file-pdf-o" style="font-size:36px;color:crimson"></i>
                    <a class="btn btn-outline-danger"  (click)="rejectStd(student)">
                      Reject
                        
                      </a>
                </td>
                
            </tr>
            
        </tbody>
        
    </table>

        </div>
    </div>

 
</div>

<br>


 