
.bg-img{
   
    width: 100%;
    height: 80vh;
    background: url("/assets/imgs/8-80602_free-wallpaper-blur.jpg") top center;
    background-size: cover; 
    position: relative;
}
.addItem {
    display:flex ;
    color: white;
    justify-content :center;
    padding: 10%;
    filter: blur(0);
  }
  .form1{
    padding-inline: 1.8em;
    padding-top: .6em;
    padding-bottom: 1em;
    color: rgb(29, 12, 12);
    background-color: rgba(238, 238, 238, 0.466);
    box-shadow: 0 4px 8px 0 rgba(173, 168, 168, 0.404), 0 6px 20px 0 rgba(0, 0, 0, 0.219);
    margin-bottom: 5%;
   }