
<footer class="page-footer font-small blue ">

    <div class="container-fluid text-center text-md-left ">
      <div class="row footer1 pt-4">
        <div class="col-md-6 mt-md-0 mt-3">
          <h5 class="text-uppercase1">ABOUT US</h5>
          <p>ICT Academy of Kerala is a Social Enterprise created in a Public Private Partnership model (PPP) for
            imparting ICT skills to the youths of Kerala and improve their employability opportunities in the
            Industry. The Company is supported by Govt. of India , partnered by Govt. of Kerala and the IT
            industry.</p>
        </div>

        <hr class="clearfix w-100 d-md-none ">

        <div class="col-md-2 mb-md-0 mb-3  mx-5">
          <h5 class="text-uppercase">HEAD OFFICE</h5>
          <address>
            ICT Academy of Kerala L-9,<br>
            Thejaswini Building Technopark,<br>
            campus Karyavattom-695581<br>
            Phone: +91-481-2731050<br>
          </address>
        </div>
 
        <div class="col-md-3 mb-md-0 mb-3">
          <h5 class="text-uppercase">SUPPORT</h5>
          <address>
            For more details Contact us @ info@ictkerala.org,<br>
            OR reach us at 0471-2700811/12/13
          </address>
        </div>
      </div> 
    </div>
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 foot">Copyright All Rights Reserved  © 2021  Technologies | <a routerLink="#">Client Logo Copyright </a> | <a class="white" routerLink="/disclaimer">Disclaimer</a> | <a class="white" routerLink="/terms-conditions/">Terms &amp; Conditions</a> | <a class="white" routerLink="/privacy-policy/">Privacy Policy</a> 
    </div>
    <!-- Copyright -->
</footer>
